@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #e7e1e1;
}



.navbar .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 5px;

}
.menu a:after{
   content: "";
   position: absolute;
   background-color: #25d162;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -10px;
   transition: 0.3s;
}
.menu a:hover{
    color: #25d162;
}

 a:hover:after{
    width: 100%;
}

header .navbar  ul{
    list-style: none;
}

header .navbar  ul li{
    float: left;
    position: relative;
}

header .navbar  ul li a{
    display: inline-block;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    color: #2b2b2b;
    text-decoration: none;
}

header .navbar  ul li a::after{
    content: "";
    position: absolute;
    background-color: #25d162;
    color: #25d162;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
header .navbar  ul li a:hover{
    color: #25d162;
}
header .navbar  ul li a:hover:after{
    width: 100%;
}


header .navbar  ul li a i{
    margin-left: 1rem;
}

header .navbar  ul li ul{
    position: absolute;
    width: 17rem;
    left: 0;
}

header .navbar ul li ul li{
    width: 100%;
}

header .navbar ul li ul li a{
    display: none;
}

header .navbar ul li:hover ul li a{
    display: block;
}
.btn,
.inline-btn{
   margin-top: 1rem;
   padding: 1rem 3rem;
   background-color: #25d162;
   color: #e7e1e1;
   cursor: pointer;
   text-align: center;
   font-size: 1.2rem;
   text-transform: capitalize;
   border-radius: 2rem;
}

.btn:hover,
.inline-btn:hover{
   background-color: #2b2b2b;
}

.btn{
   display: block;
   width: 100%;
}

.inline-btn{
   display: inline-block;
}

.flex-btn{
   display: flex;
   gap: .5rem;
   justify-content: space-between;
   align-items: flex-end;
}



.property-form form{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 .property-form form h3{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;
    color: #2b2b2b;
    text-transform: capitalize;
 }
 
 .property-form form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: flex-end;
 }
 
 .property-form form .box{
    flex: 1 1 40rem;
 }
 
 .property-form form .box .input{
    width: 100%;
    border: .1rem solid #25d162;
    margin: 1rem 0;
    padding: 1.4rem;
    color: #2b2b2b;
    font-size: 1.8rem;
 }
 
 .property-form form textarea{
    height: 20rem;
    resize: none;
 }
 
 .property-form form .box .input option[selected]{
    background-color: #2b2b2b;
    color: #fff;
 }
 
 .property-form form .box .image{
    height: 30rem;
    width: 100%;
    object-fit: contain;
    padding-top: 1rem;
    object-position: left;
 }
 
 .property-form form .box p{
    font-size: 1.6rem;
    color: #2b2b2b;
    padding-top: 1rem;
 }
 
 .property-form form .box p span{
    color: #25d162;
 }
 
 .property-form form .checkbox{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin: .5rem 0;
    flex-wrap: wrap;
 }
 
 .property-form form .checkbox .box{
    flex: 1 1 20rem;
 }
 
 .property-form form .checkbox .box input{
    margin-right: 1rem;
    cursor: pointer;
 }